@(book: Form[model.BookForm], books: Seq[model.Book])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
    @request.messages(key)
}

@main {
    <p>Add book.</p>
    @form(routes.BookController.addBook) {
        @inputText(book("title"))
        @inputText(book("price"))
        @inputText(book("author"))
        @CSRF.formField

        <div class="buttons">
            <input type="submit" value="Add book"/>
        </div>
    }

    <p>All books:</p>
    @for(book <- books) {
        <p>@book.title</p>
    }
}